<a href="https://colab.research.google.com/github/Rajeswari-33/sales-data-analysis-python/blob/main/Week2_Sales_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np

In [51]:
np.random.seed(42)

data = {
    "Order_ID": range(1, 51),
    "Order_Date": pd.date_range(start="2024-01-01", periods=50, freq="D"),
    "Product": np.random.choice(
        ["Laptop", "Mobile", "Tablet", "Headphones", "Smartwatch"], 50
    ),
    "Category": np.random.choice(
        ["Electronics", "Accessories"], 50
    ),
    "Quantity": np.random.randint(1, 6, 50),
    "Unit_Price": np.random.randint(500, 50000, 50)
}

df = pd.DataFrame(data)
df.head()

   Order_ID Order_Date     Product     Category  Quantity  Unit_Price
0         1 2024-01-01  Headphones  Accessories         1       45651
1         2 2024-01-02  Smartwatch  Electronics         4       22903
2         3 2024-01-03      Tablet  Accessories         4       18641
3         4 2024-01-04  Smartwatch  Electronics         4       15320
4         5 2024-01-05  Smartwatch  Accessories         5       40842

In [52]:
df["Total_Price"] = df["Quantity"] * df["Unit_Price"]
df.head()

,Order_ID,Order_Date,Product,Category,Quantity,Unit_Price,Total_Price
0,1,2024-01-01,Headphones,Accessories,1,45651,45651
1,2,2024-01-02,Smartwatch,Electronics,4,22903,91612
2,3,2024-01-03,Tablet,Accessories,4,18641,74564
3,4,2024-01-04,Smartwatch,Electronics,4,15320,61280
4,5,2024-01-05,Smartwatch,Accessories,5,40842,204210

In [53]:
total_revenue = df["Total_Price"].sum()
total_orders = df["Order_ID"].count()

print("Total Revenue:", total_revenue)
print("Total Orders:", total_orders)

Total Revenue: 3541906
Total Orders: 50

In [54]:
product_sales = df.groupby("Product")["Total_Price"].sum().sort_values(ascending=False)
product_sales

Product
Headphones    954352
Mobile        735890
Smartwatch    719237
Tablet        601097
Laptop        531330
Name: Total_Price, dtype: int64

In [55]:
category_sales = df.groupby("Category")["Total_Price"].sum()
category_sales

Category
Accessories    2664278
Electronics     877628
Name: Total_Price, dtype: int64

In [56]:
df["Month"] = df["Order_Date"].dt.month

monthly_sales = df.groupby("Month")["Total_Price"].sum()
monthly_sales

Month
1    2325691
2    1216215
Name: Total_Price, dtype: int64

In [57]:
df["Order_Date"] = df["Order_Date"].dt.strftime("%Y-%m-%d")
df.head()

,Order_ID,Order_Date,Product,Category,Quantity,Unit_Price,Total_Price,Month
0,1,2024-01-01,Headphones,Accessories,1,45651,45651,1
1,2,2024-01-02,Smartwatch,Electronics,4,22903,91612,1
2,3,2024-01-03,Tablet,Accessories,4,18641,74564,1
3,4,2024-01-04,Smartwatch,Electronics,4,15320,61280,1
4,5,2024-01-05,Smartwatch,Accessories,5,40842,204210,1

In [58]:
df.to_csv("week2_sales_analysis_output.csv", index=False)